name: Publish to NPM

on:
  release:
    types: [published]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.release.target_commitish }}

    - name: Install Node
      uses: actions/setup-node@v1
      with:
        node-version: 14
        registry-url: https://registry.npmjs.org/
    - run: npm ci
    - run: git config --global user.name "Github CD bot"
    - run: git config --global user.email "developers@fluidcoins.com"
    - run: npm version ${{ github.event.release.tag_name }}
    - run: npm run build:prod
    - run: npm publish --access public
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
     # push version changes to GH
    - run: git push
      env:
        github-token: ${{ secrets.GITHUB_TOKEN }}
